/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: inherit;
  text-align: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, select, textarea, blockquote {
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0; }

button {
  cursor: pointer; }

a, a:hover, a:visited, a:focus, a:active {
  color: inherit;
  text-decoration: inherit;
  outline: none; }

body, html {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  text-align: left; }

body {
  font-size: 16px;
  min-height: 100vh;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #FCFCFC; }
  body.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome and Opera */ }

p, li {
  margin: 10px 0;
  line-height: 150%; }

h1 {
  font-size: 36px;
  margin: 20px 0;
  line-height: 120%;
  font-weight: bold; }

ul {
  font-size: 20px;
  margin: 20px 0; }

button {
  font-size: 19px;
  font-weight: 500; }
  button.icon {
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat; }
    button.icon.close {
      background-image: url("../images/close.png"); }
    button.icon.split {
      background-image: url("../images/split.png"); }
    button.icon.ok {
      background-image: url("../images/ok.png"); }
    button.icon.plus {
      background-image: url("../images/plus.png"); }

form {
  padding: 0 25px; }

label {
  display: block;
  color: #3119C3;
  font-weight: 500;
  font-size: 19px; }

input, textarea {
  font-size: 24px;
  padding: 10px 0;
  width: 100%;
  margin: 0 0 10px 0;
  color: #1A0E64;
  font-weight: normal; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #EAE9F3; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #EAE9F3; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #EAE9F3; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #EAE9F3; }

textarea {
  height: 200px;
  resize: none; }

.select-box {
  font-size: 24px;
  overflow: hidden;
  padding: 0 30px 0 0;
  margin: 0 0 10px 0;
  background: url("../images/dropdown.png") no-repeat right center;
  display: inline-block; }
  .select-box select::-ms-expand {
    display: none; }
  .select-box select {
    padding: 10px 0;
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    outline: none;
    color: #1A0E64;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .select-box select option {
      color: #1A0E64; }

.container {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed; }

.centered {
  display: table-cell;
  vertical-align: middle; }

.box {
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  border-radius: 9px;
  height: 80vh;
  overflow: none;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .box header {
    padding: 50px 25px 30px 25px;
    position: relative;
    -webkit-flex: 0; }
    .box header h1 {
      color: #090522;
      text-align: center; }
    .box header button {
      position: absolute;
      top: 50px;
      bottom: 30px;
      color: #1A0E64; }
      .box header button:first-child {
        left: 25px; }
      .box header button:last-child {
        right: 25px; }
  .box table {
    font-size: 19px;
    -ms-flex: 1 0 0;
    -webkit-flex: 1;
    flex: 1 0 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .box table th, .box table td {
      display: table-cell;
      padding: 15px 0;
      box-sizing: border-box; }
      .box table th:nth-child(1), .box table td:nth-child(1) {
        width: 50%;
        padding-left: 25px; }
      .box table th:nth-child(2), .box table td:nth-child(2) {
        width: 20%; }
      .box table th:nth-child(3), .box table td:nth-child(3) {
        width: 20%;
        text-align: right;
        padding-right: 25px; }
      .box table th:nth-child(4), .box table td:nth-child(4) {
        width: 50px; }
    .box table td:nth-child(4) {
      background: url("../images/next.png") 10px center no-repeat; }
    .box table tr {
      width: 100%;
      display: table;
      border-collapse: collapse;
      table-layout: fixed;
      padding: 0 25px; }
      .box table tr:nth-child(even) {
        background-color: #FAFAFE; }
    .box table thead {
      display: block;
      -webkit-flex: 0;
      border-bottom: 2px solid #EAE9F3;
      color: #3119C3;
      font-weight: 500; }
    .box table tbody {
      display: block;
      overflow: auto;
      -ms-flex: 1 0 0;
      -webkit-flex: 1;
      flex: 1 0 0; }
  .box canvas {
    -ms-flex: 1 0 0;
    -webkit-flex: 1;
    flex: 1 0 0; }

#query-builder {
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
  -ms-flex: 1 0 0;
  -webkit-flex: 1;
  flex: 1 0 0; }
  #query-builder .query {
    padding: 0 20px;
    border-radius: 20px;
    height: 36px;
    border: 2px solid #1A0E64;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 19px;
    font-weight: 500;
    cursor: -webkit-grab;
    /* Chrome 1-21, Safari 4+ */
    cursor: -moz-grab;
    /* Firefox 1.5-26 */
    cursor: grab;
    /* W3C standards syntax, should come least */
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden; }
    #query-builder .query:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing; }
    #query-builder .query.empty {
      border-style: dashed;
      width: 50px; }
    #query-builder .query.operator {
      background: #1A0E64;
      color: white; }
    #query-builder .query.regexp, #query-builder .query.text, #query-builder .query.list {
      background: #EAE9F3;
      color: #1A0E64;
      border-color: #EAE9F3; }
    #query-builder .query.selected {
      border-color: #3119C3; }

#query-builder-canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

#query-builder-menu {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background: #FAFAFE;
  border: 2px solid #1A0E64;
  border-bottom: 0;
  border-right: 0;
  padding: 40px 25px; }
  #query-builder-menu .filter {
    display: none; }
  #query-builder-menu.regexp-selected .filter.regexp {
    display: block; }
  #query-builder-menu.operator-selected .filter.operator {
    display: block; }
  #query-builder-menu.list-selected .filter.list {
    display: block; }
  #query-builder-menu.text-selected .filter.text {
    display: block; }

/*# sourceMappingURL=main.css.map */
