

.container {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
}

.centered {
    display: table-cell;
    vertical-align: middle;
}

.box {
    background: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    max-width: 900px;
    border-radius: 9px;
    height: 80vh;
    overflow: none;
    
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    &.small {
        height: auto;
        width: auto;
        max-width: 400px;
        padding-bottom: $horizontal-margin;

        header {
            h1, h2 {
                margin: 0;
            }
        }
    }

    header {
        padding: 50px $horizontal-margin 30px $horizontal-margin;
        position: relative;
        -webkit-flex: 0;

        h1 {
            color: $black-pearl;
        }

        h2, h1 {
            word-wrap: nowrap;
            white-space: nowrap;
            text-align: center;
            margin: 0 100px 5px 100px;
            overflow: hidden;
        }

        h2 {
            color: $persian-blue;
            font-weight: 500;
        }

        >button, >div {
            position: absolute;
            top: 20px;
            bottom: 0;
            //color: $arapawa;

            &:first-child {
                left: $horizontal-margin;
            }

            &:last-child {
                right: $horizontal-margin;
            }

            >div {
                display: table;
                width: 100%;
                height: 100%;

                >div {
                    display: table-cell;
                    vertical-align: middle;

                    button {
                        display: block;
                    }
                }
            }
        }

    }

    iframe {
        -ms-flex: 1 0 0;
        -webkit-flex: 1;
        flex: 1 0 0;
        border: 0;
        padding: 20px $horizontal-margin;
        background: $selago;
        border-top: 2px solid $whisper;
        font-family: Arial;
    }

    table {
        font-size: 19px;
        -ms-flex: 1 0 0;
        -webkit-flex: 1;
        flex: 1 0 0;

        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;

        th, td {
            display: table-cell;
            padding: 15px 0;
            box-sizing: border-box;
            white-space: pre-wrap;      /* CSS3 */   
            white-space: -moz-pre-wrap; /* Firefox */    
            white-space: -pre-wrap;     /* Opera <7 */   
            white-space: -o-pre-wrap;   /* Opera 7 */    
            word-wrap: break-word;      /* IE */
            padding-right: 10px;

            &:nth-child(1) {
                padding-left: $horizontal-margin;
            }

            &:last-child {
                padding-right: $horizontal-margin;
            }

            h2 {
                font-size: 19px;
                margin-top: 10px;
                margin-bottom: 5px;
                color: $black-pearl;
            }
            p {
                font-size: 16px;
                margin: 0;
                margin-bottom: 10px;

                &.url {
                    color: $persian-blue;
                    margin-bottom: 0px;
                }
            }
        }


        tr {
            width: 100%;
            display: table;
            border-collapse: collapse;
            table-layout: fixed;

            padding: 0 $horizontal-margin;

            &:nth-child(even) {
                background-color: $selago;
            }
        }

        thead {
            display: block;
            -webkit-flex: 0;
            border-bottom: 2px solid $whisper;
            color: $persian-blue;
            font-weight: 500;
        }

        tbody {
            display: block;
            overflow: auto;

            -ms-flex: 1 0 0;
            -webkit-flex: 1;
            flex: 1 0 0;
        }
    }

    table.arrow {
        th, td {
            &:nth-child(2) {
                width: 20%;
            }

            &:nth-child(3) {
                width: 20%;
                padding-right: $horizontal-margin;
            }

            &:last-child {
                width: $horizontal-margin;
            }
        }

        td {
            &:last-child {
                background: url("../images/next.png") 10px center no-repeat;
            }
        }

        tbody {
            tr {
                cursor: pointer;

                &:hover {
                     opacity: 0.5;
                }

                &.empty {
                    opacity: 0.5;
                    cursor: default;

                    td {
                        background: none;
                        padding: 40px;
                        text-align: center;
                    }
                }
            }
        }
    }

    table.half {
        td {
            width: 50%;
        }
    }


}