#query-builder {
    position: relative;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    -ms-flex: 1 0 0;
    -webkit-flex: 1;
    flex: 1 0 0;
    overflow: hidden;

    .query {
        padding: 0 20px;
        border-radius: 20px;
        height: 36px;
        border: 2px solid $arapawa;
        line-height: 36px;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 19px;
        font-weight: 500;
        cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
        cursor:    -moz-grab; /* Firefox 1.5-26 */
        cursor:         grab; /* W3C standards syntax, should come least */
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;

        &:active {
            cursor: -webkit-grabbing;
            cursor:    -moz-grabbing;
            cursor:         grabbing;
        }

        &.empty {
            border-style: dashed;
            width: 50px;
        }

        &.operator {
            background: $arapawa;
            color: white;
            
        }

        &.regexp, &.text, &.list {
            background: $whisper;
            color: $arapawa;
            border-color: $whisper;
        }

        &.selected {
            border-color: $persian-blue;
        }

    }
}

#query-builder-canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#query-builder-menu {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: $selago;
    border: 2px solid $whisper;
    border-bottom: 0;
    border-right: 0;
    padding: 40px 25px;
    border-top-left-radius: 15px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    .content {
        -ms-flex: 1 0 0;
        -webkit-flex: 1;
        flex: 1 0 0;
    }

    .filter {
        display: none;
    }

    &.regexp-selected {
        .filter.regexp {
            display: block;
        }
    }
    &.operator-selected {
        .filter.operator {
            display: block;
        }
    }
    &.list-selected {
        .filter.list {
            display: block;
        }
    }
    &.text-selected {
        .filter.text {
            display: block;
        }
    }

    footer {
        text-align: center;

        button:last-child {
            margin-left: 20px;
        }
    }
}