$font: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$color-text: black;


$arapawa: #1A0E64;
$black-pearl: #090522;
$persian-blue: #3119C3;

// Gray blue
$whisper: #EAE9F3;

// Background gray
$alabaster: #FCFCFC; 

// Background selection (light light blue)
$selago: #FAFAFE;

$horizontal-margin: 25px;